<div class="outer-row" id="<%= dom_id row %>" data-selectable="Selected" data-commands="#<%= dom_id(row) %>_commands">
  <div class="container">
    <div class="row">
      <% row.children.each_with_index do |column,position| %>
        <%= render "scroll/columns/column", row: row, column: column, position: position %>
      <% end %>
    </div>
  </div>
</div>

<% if can_edit_scroll? %>
  <div class="Commands" id="<%= dom_id(row) %>_commands" style="display: none;">
    <%= link_to "Add row before", scroll.new_row_path(page_id: row.page_id, position: position), class: "CommandButton", data: { before: "#" + dom_id(row) } %>
    <%= link_to "Add row after", scroll.new_row_path(page_id: row.page_id, position: position + 1), class: "CommandButton", data: { after: "#" + dom_id(row) } %>
    <%= link_to "Remove row", scroll.row_path(row), class: "CommandButton", method: :delete %>
  </div>
<% end %>
