<%= component_form_for renderable do |f| %>

  <div>
    <%= f.text_area :content, class: "TextArea" %>
  </div>

  <div>
    <%= f.label :style, "CSS class names" %><br>
    <%= f.text_field :style %>
  </div>

  <div>
    <%= f.submit class: "Button" %>
  </div>

<% end %>
