<div id="<%= dom_id(component) %>"
     class="FigureComponent"
     data-reload="<%= url_for component %>">

  <%= component_form_for renderable do |f| %>
    <div class="Field">
      <% if renderable.image.present? %>
        <%= image_tag(renderable.image.url(:thumb)) %><br>
      <% end %>
      <%= f.file_field :image %>
    </div>

    <div class="Field">
      <%= f.text_area :caption, class: "ContentField", rows: 3, placeholder: "Caption" %>
    </div>

    <div class="Options">
      <div class="Field">
        <%= f.text_field :url, class: "TextField", placeholder: "URL" %>
      </div>

      <% if Scroll.config.styles[:figure_component].is_a?(Hash) %>
        <div class="Field">
          <%= f.select :style, Scroll.config.styles[:figure_component] %>
        </div>
      <% end %>

      <div>
        <%= f.submit class: "Button" %>
      </div>
    </div>
  <% end %>

</div>
